<!DOCTYPE html>
<html>
  <head>
    <title>Puppies</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Life Is Ruff</h1>
    <p>Meet @Model.Name1. @Model.Name1 is a puppy. They live in a @Model.Noun1 in the streets of @Model.Place. While they were out for a @Model.Verb1, they @Model.PastTenseVerb1 into another puppy, named @Model.Name2. "Wow!", @Model.Name1 exclaimed, "I had no idea there were other @Model.PluralAnimal1 in the world! I've been alone for @Model.LengthOfTime."</p>
  </body>